html,
body,
#root,
#root>div {
  box-sizing: border-box;
  margin: 0;
  padding: 10px;
  height: 100%;
}

#root>div {
  padding: 0px;
}

.rnd-resizable1 .resize-handle-base-class {
  border: 1px solid #25A7FB;
  border-radius: 50%;
  background-color: #fff;
}

.guide {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  background: hsl(205, 100%, 75%);
  color: hsl(205, 100%, 75%);
}

.guide.axis-x {
  width: 1px;
  height: 100%;
}

.guide.axis-y {
  width: 100%;
  height: 1px;
}

.react-draggable {
  outline: none;
}