html,
body,
#root,
#root>div {
  box-sizing: border-box;
  margin: 0;
  padding: 10px;
  height: 100%;
}

#root>div {
  padding: 0px;
}

.rnd-resizable1 .resize-handle-base-class {
  border: 1px solid #25A7FB;
  border-radius: 50%;
  background-color: #fff;
}